.clippy-container {
    position: relative;
}

.clippy-icon {
    width: 70px;
    height: 70px;
    margin-top: 400px;
    margin-left: 1200px;
    cursor: pointer;
}

.clippy-speech-bubble {
    position: absolute;
    top: 420px;
    right: 7%;
    max-width: auto;
    max-height: auto;
    background-color: #c6c6c6;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

    .clippy-speech-bubble::after {
        content: '';
        position: absolute;
        top: 12px;
        right: -20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #000;
    }

    .clippy-speech-bubble p {
        margin: 0;
        color: black;
    }

    .click-me-button {
    position: absolute;
    bottom: -30px;
    right: 10px;
    }
