.desktop-container {
    height: 100vh;
    background-color: #017d7d;
    font-family: 'px sans nouveaux', Arial, Helvetica, sans-serif;
    position: relative;
}

.clippy-component {
    position: absolute;
    bottom: 10px;
    z-index: 1; 
    pointer-events: none;
}

.my-computer-icon {
    position: absolute; 
    top: 2%;
    left: 1%;
    cursor: pointer;
}
