* {
    box-sizing: border-box;
}

.desktop-container {
    width: 100%;
    height: 100%;
    background-color: #017d7d;
    overflow: hidden;
    font-family: 'px sans nouveaux', Arial, Helvetica, sans-serif;
}

.clippy-component {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1; /* Ensures it stays below other elements */
    pointer-events: none; /* Makes it non-clickable */
}

.my-computer-icon {
    position: absolute; /* Position the image absolutely */
    top: -220px; /* Distance from the top */
    left: -235px; /* Distance from the left */
    max-width: 100px; /* Limit the size of the icon */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer for clickability */
}

.my-computer-text {
    font-size: x-small;
    position: absolute; /* Position the image absolutely */
    top: -180px; /* Distance from the top */
    left: -235px; /* Distance from the left */
}

@media (max-width: 768px) {
    .my-computer-window {
        top: 1500px;
    }
}

.desktop-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.clippy-container {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: auto; /* Adjust the width as per your icon size */
    height: auto;
}
