.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  color: white;
  padding: 5px;
  height: 4%;
  outline: 1px solid white;
}

.taskbar-divider {
  height: 100%;
  width: 1px;
  background-color: black;
  margin: 2px 0px
}

.button-start-menu {
    display: flex;
    flex-direction: row;
    padding: 2px 9px;
    background: #c6c6c6;
    box-shadow: #dfdfdf 1px 1px inset, #000 1px 0, #000 0 1px, #000 1px 1px;
    border: 1px solid black;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: start;
    letter-spacing: -.3px;
    cursor: pointer;
    margin-right: 5px;
}

.button-start-menu img {
  max-width: 20px;
  margin-right: 5px;
}


.menu {
    position: absolute;
    bottom: 36px;
    left: 2px;
    z-index: 2;
    background-color: rgb(198, 198, 198);
    font-family: "Windows Regular";
    width: 160px; 
    height: 242px;
    line-height: 50px;
    text-rendering: optimizeSpeed;
    display: flex;
    background: #c6c6c6;
    box-shadow: #dfdfdf 1px 1px inset, #000 1px 0, #000 0 1px, #000 1px 1px;
    border: 1px solid black;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-radius: 0;
}

.menusidebar img{
  height: 238px;
  width: 30px;
}

.menulist ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-break: 1px solid black #2a3f55;
    line-height: 1rem;
  }

.menu ul li {
  padding: 10px 0;
  color: black;
  flex-direction: column;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: MS Sans Serif;
  }

.menu ul li img {
  width: 20px; 
  height: 20px;
  margin-right: 5px;
  margin-left: -20px;
}

.tasks {
  font-size: 10px;
  margin-right: 8px;
  margin-left: auto;
  border-bottom: 1px solid black rgb(223, 223, 223);
  border-right: 1px solid rgb(223, 223, 223);
  border-top: 1px solid rgb(112, 112, 112);
  border-left: 1px solid rgb(112, 112, 112);
  padding: 4.5px 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.tray {
  display: flex;
  align-items: center;
}

.small-image volume-icon img {
  max-width: 10px;
  margin-right: 1px;
}

.taskbar-time {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 10px;
  display: flex;
  align-self: flex-end;
  color: black; 
}

